.formGroup {
    position: relative;
    margin-bottom: 1rem;
    min-height: 4.5rem;
}

.input {
    width: 100%;
    padding: 0.75rem 0.5rem;
    border: 1px solid #ddd;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    border-radius: 0.25rem;
    background: var(--bg-color-card-2);
    color: var(--color-text-1);
}

.label {
    position: absolute;
    top: 0.75rem;
    left: 0.5rem;
    color: var(--color-text-2);
    transition: all 0.2s ease;
    pointer-events: none;
    background: var(--bg-color-card-2);
    font-size: 14px;
}

.error {
    color: rgb(209, 0, 0);
    font-size: 0.8rem;
    margin-top: 0.15rem;
    display: block;
    height: 1rem;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-color-card-2) inset;
    box-shadow: 0 0 0px 1000px var(--bg-color-card-2) inset;
    -webkit-text-fill-color: var(--color-text);
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label,
.input:-webkit-autofill ~ .label {
    top: -0.5rem;
    font-size: 0.75rem;
    color: var(--color-text-3);
}

[data-theme='dark'] .input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
