.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-color-primary);
    border-radius: 0.5rem;
}

.mainLayout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap: 1rem;
}

.content {
    flex: 1;
}
