.divTitle {
    padding-bottom: 2rem;
}

.loginContainer {
    display: flex;
    flex-direction: column;
}

.loginTitle {
    background-color: var(--bg-color-primary);
    border-radius: 0.5rem;
    text-align: center;
    font-weight: 600;
}

.loginButton {
    background-color: #ffffff;
    border-color: #d0b387;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: var(--color-text-2);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    padding: 0.25rem 1rem;
    text-align: center;
    text-decoration: none #d1d5db solid;
    text-decoration-thickness: auto;
    box-shadow:
        0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    align-self: flex-end;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-right: 4px;
}

.loginButton:hover {
    background-color: var(--bg-color-primary);
    color: var(--color-text);
}

.loginButton:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.loginButton:focus-visible {
    box-shadow: none;
}

.formGroup {
    position: relative;
    margin-bottom: 2rem;
}

.input {
    width: 100%;
    padding: 0.75rem 0.5rem;
    border: 1px solid #ddd;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    border-radius: 0.25rem;
}

.label {
    position: absolute;
    top: 0.75rem;
    left: 0.5rem;
    color: var(--color-text-2);
    transition: all 0.2s ease;
    pointer-events: none;
    background: white;
    font-size: 14px;
}

/* When input is focused */
.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
    top: -0.5rem;
    font-size: 0.75rem;
    color: var(--color-text-3);
}

/* link styling */
.loginContainer a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 14px;
    border-radius: 0.5rem;
    color: var(--color-text-2);
    display: inline;
}

.loginContainer a:hover {
    color: var(--color-text);
    font-size: 14px;
    border-radius: 0.5rem;
    text-decoration: underline var(--color-link-underline);
}

.linksContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
