.loginTitle {
    background-color: #e8d0ac;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: 600;
}

.cancellBtn {
    background-color: #ffffff;
    border: 1;
    border-color: #d0b387;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #000000;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    padding: 0.25rem 1rem;
    text-align: center;
    text-decoration: none #d1d5db solid;
    text-decoration-thickness: auto;
    box-shadow:
        0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.cancellBtn:hover {
    background-color: #e8d0ac;
}

.cancellBtn:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.cancellBtn:focus-visible {
    box-shadow: none;
}
