.mainContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    height: 90vh;
}

.formContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #e8d0ac;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    background-color: var(--bg-color-card-2);
    padding: 2rem;
}

.divTitle {
    padding-bottom: 2rem;
}

.title {
    background-color: var(--bg-color-primary);
    border-radius: 0.5rem;
    text-align: center;
    font-weight: 600;
}

.success {
    font-family: var(--font-body);
    font-size: 0.9375rem;
    color: var(--color-text-2);
    text-align: center;
}

.submitBtn {
    background-color: var(--bg-color-button-1);
    border-color: #d0b387;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: var(--color-text-2);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    padding: 0.25rem 1rem;
    text-align: center;
    box-shadow:
        0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    align-self: flex-end;
    /* margin-top: -.5rem; */
    margin-bottom: 1.5rem;
    margin-right: 4px;
    transition: all 0.2s ease;
}

.submitBtn:hover:not(:disabled) {
    background-color: var(--bg-color-primary);
    color: var(--color-text);
}

.submitBtn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
