html,
body,
#root {
    height: 100%;
    background-color: #f3f4f6;
}

* {
    margin: 0;
    padding: 0.25rem;
    box-sizing: border-box;
}

:root {
    --bg-color-primary: #e8d0ac;
    --bg-color-secondary: #d0b387;
    --bg-color-third: #e7e0d5;
    --bg-color-card: #f3f4f6;
    --bg-color-card-2: #ffffff;
    --color-text: #000000;
    --color-text-2: #686868;
    --color-text-3: #d0b387;
    --color-link-underline: #d0b387;
    --font-heading: 'Lora', serif;
    --font-body: 'Inter', sans-serif;
}

body {
    color: var(--color-text);
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-heading);
}
